<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>君子码</title>
    <link rel="shortcut icon" href="./Icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
        integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous" />
</head>

<body
    class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-amber mdui-theme-accent-amber mdui-theme-layout-light">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
        integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
        crossorigin="anonymous"></script>

    <div id="app" class="mdui-container">
        <div class="mdui-appbar mdui-appbar-fixed mdui-color-theme">
            <div class="mdui-toolbar">
                <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}">
                    <i class="mdui-icon material-icons mdui-text-color-white">menu</i>
                </a>

                <a href="javascript:;" class="mdui-typo-title mdui-text-color-white">君子码</a>
                <div class="mdui-toolbar-spacer"></div>

                <i class="mdui-icon material-icons mdui-ripple mdui-ripple-white mdui-text-color-white">translate</i>

                <a href="https://github.com/xhwanlan" target="_blank" title="github"
                    class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                        enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon"
                        style="width: 24px;height:24px;">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF"
                            d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>

        <div id="left-drawer" class="mdui-drawer">
            <ul class="mdui-list">
                <li class="mdui-list-item mdui-ripple"
                    :class="{'mdui-list-item-active':item.selected,'mdui-shadow-5':item.selected}"
                    v-for="(item ,index) in items" @click="OnClickItem(index)">
                    <div class="mdui-list-item-content">{{item.title}}</div>
                    <div class="mdui-chip" @click="DeleteRule(index)">
                        <span class="mdui-chip-title">
                            <i class="mdui-icon material-icons"
                                v-show="isDeleteRule && item.canDelete && !item.selected">clear</i>
                            <span v-show="!isDeleteRule || !item.canDelete ||item.selected">{{item.xorCode}}</span>
                        </span>
                    </div>
                </li>
                <li class="mdui-divider"></li>
                <li>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="button"
                        style="width:96%;" @click="NewRuleDialog" :disabled="isDeleteRule">新建规则</button>
                </li>
                <li>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="button"
                        style="width:96%;" @click="DeleteRuleToggle">删除规则</button>
                </li>
                <li>
                    <input type="file" ref="file" @change="LoadRule" style="width:96%;display: none;" placeholder="file"
                        title="rule file" />
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="button"
                        @click="OnClickLoadButton" style="width:96%;" :disabled="isDeleteRule">导入规则</button>
                </li>
                <li>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="button"
                        @click="SaveRule" style="width:96%;" :disabled="isDeleteRule">导出规则</button>
                </li>
            </ul>
        </div>

        <div class="mdui-container">
            <div class="mdui-card mdui-p-a-1 mdui-m-t-1">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">编码集</label>
                    <input class="mdui-textfield-input" type="text" disabled title="Character Set" :value="charSet" />
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">异或码</label>
                    <input class="mdui-textfield-input" type="number" max="255" min="0" :value="xorCode"
                        title="Xor Code" @input="OnInputXorCode" />
                </div>
            </div>

            <div class="mdui-p-a-1 mdui-m-y-1">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">文本</label>
                    <textarea class="mdui-textfield-input" v-model="inputText"></textarea>
                </div>

                <div class="mdui-row-xs-2">
                    <div class="mdui-col">
                        <button class="mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple mdui-center"
                            style="width:96%;" type="button" @click="Encode" :disabled="deleteRule">编码</button>
                    </div>
                    <div class="mdui-col">
                        <button class="mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple mdui-center"
                            style="width:96%;" type="button" @click="Decode" :disabled="deleteRule">解码</button>
                    </div>
                </div>
            </div>

            <div class="mdui-p-a-1">
                <div class="mdui-typo">
                    <blockquote>
                        <p>{{result}}</p>
                        <footer v-show="result.length > 0">
                            <button class="mdui-btn mdui-btn-icon" @click="Copy">
                                <i class="mdui-icon material-icons">content_copy</i>
                            </button>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="mdui-dialog mdui-container mdui-p-a-1" style="overflow: visible;" id="new-rule">
            <h5>新建规则</h5>
            <div class="mdui-row">
                <div class="mdui-col-xs-2">
                    <div class="mdui-textfield mdui-textfield-floating-label" style="overflow: visible;">
                        <label class="mdui-textfield-label">字符集长度</label>
                        <select class="mdui-select mdui-textfield-input" mdui-select v-model="newRuleSetNum"
                            title="number">
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="8">8</option>
                            <option value="16">16</option>
                            <option value="32">32</option>
                            <option value="64">64</option>
                            <option value="128">128</option>
                            <option value="256">256</option>
                        </select>
                    </div>
                </div>
                <div class="mdui-col-xs-10">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">字符集</label>
                        <input class="mdui-textfield-input" type="text" :maxlength="newRuleSetNum" title="Character Set"
                            v-model="newRuleCharSet" />
                    </div>
                </div>
            </div>
            <div class="mdui-row   mdui-valign">
                <div class="mdui-col-xs-9">
                    <div class="mdui-textfield mdui-textfield-floating-label mdui-m-b-1">
                        <label class="mdui-textfield-label">标题</label>
                        <input class="mdui-textfield-input" type="text" v-model="newRuleTitle" title="Rule Title" />
                    </div>
                </div>
                <div class="mdui-col-xs-2">
                    <div class="mdui-textfield mdui-textfield-floating-label mdui-m-b-1">
                        <label class="mdui-textfield-label">异或码</label>
                        <input class="mdui-textfield-input" type="number" min="0" max="255" v-model="newRuleXorCode"
                            title="Xor Code" />
                    </div>
                </div>
                <div class="mdui-col-xs-1">
                    <button type="button" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple"
                        @click="AddNewRule">
                        <i class="mdui-icon material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="./Index.js"></script>
</body>

</html>